{% extends "app.twig" %}

{% block content %}


<div id="wrapper">
	<div id="menu">
		<p class="welcome">Conversation with <strong>{{interlocutor.login}}</strong>.<b></b></p>

		<div style="clear:both"></div>
	</div>

	<div id="chatbox">

	</div>
	{# <form action="#" action="" id="usermsgform"> #}
	{# <form action="{{ path_for("chatmsg")}}" method="post" id="usermsgform"> #}
		<input name="usermsg" type="text" id="text" size="63" />
		{# <input type="submit" name=""> #}
		<button type="button" id="submitmsg" title="Envoyer">
	{# </form> #}
</div>

<div class="result">

</div>
<script type="text/javascript">

$(window).keydown(function (event) {
	if (!(event.ctrlKey || event.metaKey || event.altKey)) {
	  $('#text').focus();
	}
	if (event.which === 13) {
		send();
	}
});

$('#submitmsg').click(function(event) {
	event.preventDefault();
	send();
});

function escapeHtml(text) {
	var map = {
		'&': '&amp;',
		'<': '&lt;',
		'>': '&gt;',
		'"': '&quot;',
		"'": '&#039;'
	};

	return text.replace(/[&<>"']/g, function(m) { return map[m]; });
}

function scrollDiv(){
	chatbox = document.getElementById("chatbox");
	chatbox.scrollTop += 50000;
	// chatbox.scrollTop = chatbox.scrollHeight - chatbox.clientHeight;
	// var objDiv = document.getElementById(".bottom");
	// objDiv.scrollTop = objDiv.scrollHeight;
}

function send() {
	var poster = escapeHtml('{{ user.login }}');
	var receptor = escapeHtml("{{ interlocutor.login }}");
	var message =  escapeHtml($('#text').val());

	if (message) {

		var req = $.post('{{ path_for("chatmsg")}}', {
			'poster': poster,
			'receptor': receptor,
			'message': message
			})
		.done(function(data) {
			})
		.fail(function(xhr, status, error) {
		});
		$('#text').val('');
		// $('#chatbox').empty();
		scrollDiv();
		showChat();
		// scrollDiv();
	}
}

function showChat() {

	scroll_t = $('#chatbox').scrollTop();

	$('#chatbox').scroll(function() {
		if ($('#chatbox').html().length) {
			scroll_t = $('#chatbox').scrollTop();
		}
	});

	$('#chatbox').empty();
	var lastID =  $('#messages .message:first').attr('id');
	var poster = escapeHtml('{{ user.login }}');
	var receptor = escapeHtml("{{ interlocutor.login }}");
	var req = $.post('{{ path_for("postGetChatMsg") }}', {
		'poster': poster,
		'receptor': receptor,
		'lastID': lastID
	})
	.done(function(data) {

		var size = Object.keys(data).length;
		// console.log(data);
		var i = 0;

		data = jQuery.parseJSON(data);

		while(data[i]){
			$('#chatbox').append('<div class="message" id="'+data[i].id+'">' + '<p><strong>' + data[i].login_poster + '</strong> says: ' + data[i].message + '</p>' + '</div>');
			i++;
		}
  $('#chatbox').scrollTop(scroll_t);

	})
	.fail(function(xhr, status, error){
	});
}

showChat();
setInterval(function(){showChat()}, 5000);

</script>

<div class="bottom"></div>

{% endblock %}
