{% extends "app.twig" %}

{% block content %}
<div class="well">
	<h1>Contact admin</h1>
	<p>Problem? Suggestion? Feel free to contact me, I'll read you as soon as possible!</p>
</div>

{# <pre> {{ dump(flash.errors) }} </pre>  #}
{# <pre> {{ dump(old) }} </pre>  #}

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------CONTACT PANNEL----------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<form action="{{ path_for('contact') }}" method="post">

		{# {{ csrf() }} #}
		<div class="form-group{% if flash.errors.contact %} has-error {% endif %}">
			<label for ="contact" >Tell me what you want</label>
			<textarea type="text" class="form-control" name="contact" id="contact" placeholder="(Please write at least 20 characters)" required>{{ old.contact }}</textarea>
			{% if flash.errors.contact %}
				<span class="help-block">{{ flash.errors.contact }}</span>
			{% endif %}
		</div>

		<script type="text/javascript" src="../app/views/scripts/charcounter.js"></script>
		<script type="text/javascript">
			$("#contact").charCounter(20);
		</script>

		<button type="submit" class="btn btn-lg">Submit</button>
		
	</form>

{% endblock %} 