{% extends "app.twig" %}

{% block content %}
<h1>{{userprofile.login}}'s profile:</h1>

<div class="container">

{###------------------------------------------------------------------------------------------------------------------###}
{####------------------------------------------EDIT BUTTON------------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
	{% if userprofile.login == user.login %}

		<form action="{{ path_for('user.edit') }}">
			<button type="submit" class="btn btn-primary">Edit profile</button>
		</form>

	{% endif %}

{###------------------------------------------------------------------------------------------------------------------###}
{####------------------------------------------LIKE BUTTON------------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	{% if userprofile.login != user.login %}
		{% if canLike == true %}
		<form action="{{ path_for('like') }}" method="post">
			<button type="submit" name="likeButton" class="btn btn-danger btn-lg align-center" value="{{userprofile.id}}">Like ♡</button>
		</form>
		{% else %}
		<form action="{{ path_for('unlike') }}" method="post">
			<button type="submit" name="unlikeButton" class="btn btn-danger btn-lg align-center" value="{{userprofile.id}}">Unlike &lt;/3</button>
		</form>
		{% endif %}
	{# {% else %} #}
			{# <button type="submit" class="btn btn-danger btn-lg disabled">Like ♡</button> #}
	{% endif %}

{###------------------------------------------------------------------------------------------------------------------###}
{####------------------------------------------BLOCK BUTTON-----------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	{% if userprofile.login != user.login %}
		{% if canBlock == true %}
		<form action="{{ path_for('block') }}" method="post">
			<button type="submit" name="blockButton" class="btn btn-danger btn-lg align-center" value="{{userprofile.id}}">Block</button>
		</form>
		{% else %}
		<form action="{{ path_for('unblock') }}" method="post">
			<button type="submit" name="unblockButton" class="btn btn-danger btn-lg align-center" value="{{userprofile.id}}">Unblock</button>
		</form>
		{% endif %}
	{# {% else %} #}
			{# <button type="submit" class="btn btn-danger btn-lg disabled">Block</button> #}
	{% endif %}

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------POPULARITY PANNEL----------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Popularity:</h3>
		</div>
		<div class="panel-body">

			{{ userprofile.popularity }}

		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------INTRO PANNEL---------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

{% if userprofile.gender == 'f' %}
	{% set isShe, himHer, gender = 'she', 'her', 'female' %}
{% else %}
	{% set isShe, himHer, gender = 'he', 'him', 'male' %}
{% endif %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Who is {{isShe|e}}?</h3>
		</div>
		<div class="panel-body">
			<strong>{{userprofile.login|e}}</strong> is a <strong>{{age|e}}</strong> years old <strong>{{gender|e}}</strong>. Tell {{himHer|e}} hi or trashtalk {{himHer|e}}!
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------LAST SEEN PANNEL-----------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Last seen:</h3>
		</div>
		<div class="panel-body">

			{{ userprofile.updated_at|date("F jS \\a\\t g:i A") }}

		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------PROFILE PIC PANNEL---------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Profile picture:</h3>
			</div>

			<div class="panel-body">
				<div class="row">

					{% if userprofile.mainpicture %}
						{% set href, src = '../' ~ userprofile.mainpicture, '../' ~ userprofile.mainpicture %}
					{% else %}
						{% set href, src = "#", "http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" %}						
					{% endif %}

					<div class="col-xs-6 col-md-offset-3">
						<a href="{{href}}" class="thumbnail">
							<img src="{{src}}" alt="profile picture">
						</a>
					</div>
				</div>
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------GALLERY PANNEL-------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Gallery:</h3>
			</div>

			<div class="panel-body">
				<div class="row">

					{% for i in 0..3 %}
							{% if userprofile.pictures[i] %}
								{% set href, src = '../' ~ userprofile.pictures[i], '../' ~ userprofile.pictures[i] %}
							{% else %}
								{% set href, src = "#", "http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" %}						
						{% endif %}
						<div class="col-xs-6 col-md-3">
							<a href="{{href}}" class="thumbnail">
								<img src="{{src}}" alt="profile picture">
							</a>
						</div>	
					{% endfor %}

				</div>
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------BIOGRAPHY PANNEL--------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Biography:</h3>
		</div>
		<div class="panel-body">
			{{userprofile.bio|e}}
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------SEXUALITY PANNEL--------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

{# Set in INTRO pannel #}

{# 	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Sexuality:</h3>
		</div>
		<div class="panel-body">
			{{userprofile.sexuality}}
		</div>
	</div> #}


{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------HOBBIES PANNEL----------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Hobbies:</h3>
		</div>
		<div class="panel-body">
			{% for hobbies in userprofile.hobbies %}
			#{{ hobbies|e }}
		{% endfor %}
		</div>
	</div>
	

{###------------------------------------------------------------------------------------------------------------------###}
{###----------------------------------------------MAP PANNEL----------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}


	<div class="panel panel-default" id="map_pannel">
		<div class="panel-heading">
				<h3 class="panel-title">Location:</h3>
		</div>

		<div class="panel-body">
			<div id="map" style="width:100%;height:500px"></div>
			<input type="hidden" name="latitude" id="latitude" value = "{{userprofile.latitude}}" />
			<input type="hidden" name="longitude" id="longitude" value = "{{userprofile.longitude}}"/>
			<script>
				function initMap() {

					var divMap = document.getElementById('map');

					var lat = parseFloat(document.getElementById('latitude').value);
					var lng = parseFloat(document.getElementById('longitude').value);
					var myCenter = new google.maps.LatLng(lat,lng); 

					var map = new google.maps.Map(divMap, {
						center: {lat: lat, lng: lng},

						zoom: 16
					});

					var marker = new google.maps.Marker({
						position: myCenter,
						animation: google.maps.Animation.BOUNCE
					});
					marker.setMap(map);
					var infoWindow = new google.maps.InfoWindow({map: map});
				}
				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDD-NOwTi9bwWN-79RkmtRka187YlAcbI&callback=initMap"
						async defer></script>
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------VISITORS PANNEL---------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
	{% if userprofile.id == user.id %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Horny creeps:</h3>
		</div>
		<div class="panel-body">
			{% if eventsHistory is empty %}
				Nobody lol
			{% else %}
				{% for event in eventsHistory %}

					{% if event.origin == "visit" %}
					<p><strong>👁 <a href="{{event.login}}">{{ event.login }}</a></strong> lurked you the {{ event.date|date("F jS \\a\\t g:i A") }}. How creepy!</p>
					{% elseif event.origin == "like" %}
						<p><strong>❤️ <a href="{{event.login}}">{{ event.login }}</a></strong> liked your profile the {{ event.date|date("F jS \\a\\t g:i A") }}!</p>
					{% endif %}
				{% endfor %}
				
			{% endif %}
		</div>
	</div>

	{% endif %}

</div>
{% endblock %} 