{% extends "app.twig" %}

{% block content %}
<h1>{{userprofile.name}}'s profile.</h1>

<div class="container">

	{% if userprofile.name == user.name %}
		<form action="{{ path_for('user.edit') }}">
			<button type="submit" class="btn btn-primary">Edit profile</button>
		</form>
	{% endif %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Last seen:</h3>
		</div>
		<div class="panel-body">

			{{ userprofile.updated_at|date("F jS \\a\\t g:ia") }}

		</div>
	</div>
	<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Gallery:</h3>
			</div>

			<div class="panel-body">
				<div class="row">
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
						<img src="http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" alt="...">
					</a>

				</div>

				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
						<img src="http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" alt="...">
					</a>
				</div>

				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
						<img src="http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" alt="...">
					</a>
				</div>

				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
						<img src="http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" alt="...">
					</a>
				</div>

			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Visitors:</h3>
		</div>
		<div class="panel-body">
			Nobody lol
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Biography:</h3>
		</div>
		<div class="panel-body">
			{{userprofile.bio}}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Sexuality:</h3>
		</div>
		<div class="panel-body">
			{{userprofile.sexuality}}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Hobbies:</h3>
		</div>
		<div class="panel-body">
			{% for hobbies in user.hobbies %}
			#{{ hobbies }}
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %} 