{% extends "app.twig" %}

{% block content %}
<h1>{{userprofile.login}}'s profile:</h1>

<div class="container">

{###------------------------------------------------------------------------------------------------------------------###}
{####------------------------------------------EDIT BUTTON------------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
	{% if userprofile.login == user.login %}

		<form action="{{ path_for('user.edit') }}">
			<button type="submit" class="btn btn-primary">Edit profile</button>
		</form>

	{% endif %}

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------GENDER PANNEL--------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Gender:</h3>
		</div>
		<div class="panel-body">
			{% if userprofile.gender == "f" %}
				{{"Female"}}
			{% else %}
				{{"Male"}}
			{% endif %}
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------LAST SEEN PANNEL-----------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Last seen:</h3>
		</div>
		<div class="panel-body">

			{{ userprofile.updated_at|date("F jS \\a\\t g:ia") }}

		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------PROFILE PIC PANNEL---------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Profile picture:</h3>
			</div>

			<div class="panel-body">
				<div class="row">

					{% if userprofile.mainpicture %}
						{% set href, src = '../' ~ userprofile.mainpicture, '../' ~ userprofile.mainpicture %}
					{% else %}
						{% set href, src = "#", "http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" %}						
					{% endif %}

					<div class="col-xs-6 col-md-offset-3">
						<a href="{{href}}" class="thumbnail">
							<img src="{{src}}" alt="profile picture">
						</a>
					</div>
				</div>
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------GALLERY PANNEL-------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Gallery:</h3>
			</div>

			<div class="panel-body">
				<div class="row">

					{% for i in 0..3 %}
							{% if userprofile.pictures[i] %}
								{% set href, src = '../' ~ userprofile.pictures[i], '../' ~ userprofile.pictures[i] %}
							{% else %}
								{% set href, src = "#", "http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" %}						
						{% endif %}
						<div class="col-xs-6 col-md-3">
							<a href="{{href}}" class="thumbnail">
								<img src="{{src}}" alt="profile picture">
							</a>
						</div>	
					{% endfor %}

				</div>
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------BIOGRAPHY PANNEL--------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Biography:</h3>
		</div>
		<div class="panel-body">
			{{userprofile.bio}}
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------SEXUALITY PANNEL--------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Sexuality:</h3>
		</div>
		<div class="panel-body">
			{{userprofile.sexuality}}
		</div>
	</div>


{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------HOBBIES PANNEL----------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Hobbies:</h3>
		</div>
		<div class="panel-body">
			{% for hobbies in userprofile.hobbies %}
			#{{ hobbies }}
		{% endfor %}
		</div>
	</div>
	

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------VISITORS PANNEL---------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
	{% if userprofile.login == user.login %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Horny creeps:</h3>
		</div>
		<div class="panel-body">
			{% if visits is empty %}
				Nobody lol
			{% else %}
				{% for visit in visits %}
					<p>
						<strong><a href="#">{{ visit.login }}</a></strong> lurked you the {{ visit.visited_at|date("F jS \\a\\t g:ia") }}. How creepy!
					</p>
				{% endfor %}
				
			{% endif %}
		</div>
	</div>

	{% endif %}

</div>
{% endblock %} 