{% extends "app.twig" %}

{% block content %}
<h1>{{userprofile.name}}'s profile:</h1>

<div class="container">

{###------------------------------------------------------------------------------------------------------------------###}
{####------------------------------------------EDIT BUTTON------------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
	{% if userprofile.name == user.name %}

		<form action="{{ path_for('user.edit') }}">
			<button type="submit" class="btn btn-primary">Edit profile</button>
		</form>

	{% endif %}

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------GENDER PANNEL--------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Gender:</h3>
		</div>
		<div class="panel-body">
			{% if userprofile.gender == "f" %}
				{{"Female"}}
			{% else %}
				{{"Male"}}
			{% endif %}
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------LAST SEEN PANNEL-----------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Last seen:</h3>
		</div>
		<div class="panel-body">

			{{ userprofile.updated_at|date("F jS \\a\\t g:ia") }}

		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------PROFILE PIC PANNEL---------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
{{dump(userprofile.pictures)}}
	<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Profile picture:</h3>
			</div>

			<div class="panel-body">
				<div class="row">

					<div class="col-xs-6 col-md-offset-3">
						<a href="#" class="thumbnail">
							<img 
							{% if userprofile.pictures %}
								src="{{userprofile.pictures[0]}}"
							{% else %}
								src="http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" alt="...">
							{% endif %}
						</a>
					</div>

				</div>
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###---------------------------------------------GALLERY PANNEL-------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Gallery:</h3>
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img src="http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" alt="...">
						</a>

					</div>

					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img src="http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" alt="...">
						</a>
					</div>

					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img src="http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" alt="...">
						</a>
					</div>

					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img src="http://hd4desktop.online/images/m/a-hydralisk-starcraft-artwork-HD-Wallpaper.jpg" alt="...">
						</a>
					</div>

				</div>
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------VISITORS PANNEL---------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Visitors:</h3>
		</div>
		<div class="panel-body">
			Nobody lol
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------BIOGRAPHY PANNEL--------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Biography:</h3>
		</div>
		<div class="panel-body">
			{{userprofile.bio}}
		</div>
	</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------SEXUALITY PANNEL--------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Sexuality:</h3>
		</div>
		<div class="panel-body">
			{{userprofile.sexuality}}
		</div>
	</div>


{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------HOBBIES PANNEL----------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Hobbies:</h3>
		</div>
		<div class="panel-body">
			{% for hobbies in userprofile.hobbies %}
			#{{ hobbies }}
		{% endfor %}
		</div>
	</div>
	
</div>
{% endblock %} 