{% extends "app.twig" %}

{% block content %}

<h1>Settings</h1>

<div class="container">

	<form action="{{ path_for('user.settings') }}" method="post">
{###------------------------------------------------------------------------------------------------------------------###}
{###--------------------------------------------EDIT PASSWORD---------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}


		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Edit your password (leave blank if you don't want to change)</h3>
			</div>

			<div class="panel-body{% if flash.errors.password %} has-error {% endif %}">
				<div class="row">
					<div class="col-lg-6">
						<div class="input-group">

							<div class="{% if flash.errors.oldPassword %} has-error {% endif %}">
								<label for ="oldPassword">Current password:</label><br>
								<input type="password" class="form-control" name="oldPassword" id="OldPassword" value="{{ old.oldPassword }}">
								{% if flash.errors.oldPassword %}
									<span class="help-block">{{ flash.errors.oldPassword }}</span>
								{% endif %}
							</div>

							<div class="{% if flash.errors.newPassword %} has-error {% endif %}">
								<label for ="newPassword">New password:</label><br>
								<input type="password" class="form-control" name="newPassword" id="newPassword" value="{{ old.newPassword }}">
								{% if flash.errors.newPassword %}
									<span class="help-block">{{ flash.errors.newPassword }}</span>
								{% endif %}
							</div>

							<div class="{% if flash.errors.newPasswordConfirm %} has-error {% endif %}">
								<label for ="NewPasswordConfirm">Confirm newpassword:</label><br>
								<input type="password" class="form-control" name="NewPasswordConfirm" id="NewPasswordConfirm" value="{{ old.NewPasswordConfirm }}">
								{% if flash.errors.newPasswordConfirm %}
									<span class="help-block">{{ flash.errors.newPasswordConfirm }}</span>
								{% endif %}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###--------------------------------------------EDIT MAIL-------------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Edit your mail</h3>
			</div>

			<div class="panel-body{% if flash.errors.email %} has-error {% endif %}">
				<div class="row">
					<div class="col-lg-6">
						<div class="input-group">

							<div class="{% if flash.errors.email %} has-error {% endif %}">
								<label for ="email">Current email:</label><br>
								<input type="email" class="form-control" name="email" id="email" value="{{ user.email|e }}">
								{% if flash.errors.email %}
									<span class="help-block">{{ flash.errors.email }}</span>
								{% endif %}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Submit">
		</div>
	</form>

{###------------------------------------------------------------------------------------------------------------------###}
{###--------------------------------------------BLOCKED USERS---------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
	{{ dump(blockedUsers) }}
	{% if blockedUsers %}
	<div class="panel panel-default">
		<div class="panel-heading">
				<h3 class="panel-title">Blocked users:</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				{% for blocked in blockedUsers %}
					<li class="list-group-item">
						<span class="badge">X</span>
						{{blocked.login}}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% endif %}

</div>

{% endblock %} 