{% extends "app.twig" %}

{% block content %}

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------DESCRIPTION FIELD-------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

	<div class="container">
		<h1>Additional informations</h1>
		<p><h4>Please let us know who you are, don't be shy! Try to be the most precise so that we can find you the best matches possible!</p><h4>
	</div>

	<div class="container">
		<form action="{{ path_for('auth.signupinfos') }}" method="post">

			{# {{ csrf() }} #}

{###------------------------------------------------------------------------------------------------------------------###}
{###-------------------------------------------LOCATION FIELD---------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group">
				<label for ="location" >Geolocalisation</label>
				<div class="checkbox" id="allowGeolocDiv">
					<label><input type="checkbox" name="allowGeoloc" id="allowGeoloc">Use geolocalisation datas for a better matching <strong>(recommended)</strong></label>
				</div>
			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------GENDER FIELD------------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group{% if flash.errors.gender %} has-error {% endif %}">

				<label for ="gender">Gender</label> (Please check one)<br>

				<label class="radio-inline" for="male" checked>Male</label>
				<input type="radio" name="gender" value="m">

				<label class="radio-inline" for="female">Female</label>
				<input type="radio" name="gender" value="f">

				{% if flash.errors.gender %}
					<span class="help-block">{{ flash.errors.gender }}</span>
				{% endif %}

			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------SEXUALITY FIELD---------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group{% if flash.errors.sexuality %} has-error {% endif %}">

				<label for ="sexuality">Sexual orientation</label><br>

				<label class="radio-inline" for="hetero">Heterosexual</label>
				<input type="radio" name="sexuality" value="hetero">

				<label class="radio-inline" for="homo">Homosexual</label>
				<input type="radio" name="sexuality" value="homo">


				<label class="radio-inline" for="bi">Bisexual</label>
				<input type="radio" name="sexuality" value="bi">

				{% if flash.errors.sexuality %}
					<span class="help-block">{{ flash.errors.sexuality }}</span>
				{% endif %}

			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------HOBBIES FIELD-----------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group{% if flash.errors.hobbies %} has-error {% endif %}">
				<label for="hobbies[]">I like to</label> (Please check at least 4)

					<div class="container">
						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="morph">Morph into creep colony</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="eat">Eat Terrans</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="invade">Invade Aiur</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="obey">Obey to the Overmind</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="gather">Gather minerals</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="infest">Infest command centers</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="praises">Praise sAviOr</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="praisej">Praise Jaedong</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="burrow">Burrow</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="explode">Suicide exploding on marines</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="spawn">Spawn more overlords</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="killVessels">Kill science vessels</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="plague">Plague marines</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" name="hobbies[]" value="hide">Hide in dark swarms</label>
						</div>
					</div>
				{% if flash.errors.hobbies %}
					<span class="help-block">{{ flash.errors.hobbies }}</span>
				{% endif %}
			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------BIOGRAPHY FIELD---------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group{% if flash.errors.bio %} has-error {% endif %}">
				<label for ="bio" >Your biography</label> (Please write at least 20 characters)
				<textarea type="text" class="form-control" name="bio" id="bio" placeholder="Tell something about yourself" required>{{ old.bio }}</textarea>
				{% if flash.errors.bio %}
					<span class="help-block">{{ flash.errors.bio }}</span>
				{% endif %}
			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------SUBMIT BUTTON-----------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
			
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Submit" id="submitButton">
			</div>

			
		</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------COORDINATES HIDDEN FIELD -----------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
			{# <pre>FINAL #}
				<input type="hidden" name="latitude" id="latitude"/>
				<input type="hidden" name="longitude" id="longitude"/>
			{# </pre> #}
			{# <pre>MAP #}
				<input type="hidden" name="map" id="map" value="0">
			{# </pre> #}

	</form>
{# <pre>GOOGLE #}
<input type="hidden" name="latitudeG" id="latitudeG" />
<input type="hidden" name="longitudeG" id="longitudeG" />
{# </pre> #}
{# <pre>IP #}
<input type="hidden" name="latitudeIP" id="latitudeIP" />
<input type="hidden" name="longitudeIP" id="longitudeIP" />
{# </pre> #}


<script type="text/javascript" src="../../app/views/scripts/getlocation.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDD-NOwTi9bwWN-79RkmtRka187YlAcbI&callback=getCoordinates"
				async defer></script>


{% endblock %} 