{% extends "app.twig" %}

{% block content %}
	<h1>Sign Up</h1>
	<div class="container">
		<form action="{{ path_for('auth.signup') }}" method="post">

			{# {{ csrf() }} #}

{###------------------------------------------------------------------------------------------------------------------###}
{###-------------------------------------------LOGIN FIELD------------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group{% if flash.errors.name %} has-error {% endif %}" >
				<label for ="name">Your login</label>
				<input type="text" class="form-control" name="login" id="login" value="{{ old.login }}" required>
				{% if flash.errors.login %}
					<span class="help-block">{{ flash.errors.login }}</span>
				{% endif %}
			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###-------------------------------------------FIRSTNAME FIELD--------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group{% if flash.errors.firstname %} has-error {% endif %}" >
				<label for ="name">Your first name</label>
				<input type="text" class="form-control" name="firstname" id="firstname" value="{{ old.firstname }}" required>
				{% if flash.errors.firstname %}
					<span class="help-block">{{ flash.errors.firstname }}</span>
				{% endif %}
			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###-------------------------------------------LASTNAME FIELD---------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group{% if flash.errors.lastname %} has-error {% endif %}" >
				<label for ="name">Your last name</label>
				<input type="text" class="form-control" name="lastname" id="lastname" value="{{ old.lastname }}" required>
				{% if flash.errors.lastname %}
					<span class="help-block">{{ flash.errors.lastname }}</span>
				{% endif %}
			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###-------------------------------------------EMAIL FIELD------------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group{% if flash.errors.email %} has-error {% endif %}">
				<label for ="email">Your email</label>
				<input type="email" class="form-control" name="email" id="email" value="{{ old.email }}" required>
				{% if flash.errors.email %}
					<span class="help-block">{{ flash.errors.email }}</span>
				{% endif %}
			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###-------------------------------------------BIRTHDATE FIELD--------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
			<div class="form-group{% if flash.errors.birthDate %} has-error {% endif %}">
				<label for ="birthdate">Your birthdate (mm/dd/yyyy)</label>

				{# Compatibility with firefox #}
				<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
				<script>
					webshims.setOptions('forms-ext', {types: 'date'});
					webshims.polyfill('forms forms-ext');
				</script>
				{# --- #}

				<input type="date" class="form-control" name="birthDate" id="birthDate" value="{{ old.birthDate }}" required/>
				{% if flash.errors.birthDate %}
					<span class="help-block">{{ flash.errors.birthDate }}</span>
				{% endif %}
			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###----------------------------------------------PASSOWRD FIELD------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group{% if flash.errors.password %} has-error {% endif %}">
				<label for ="password">Your password</label>
				<input type="password" class="form-control" name="password" id="password" value="{{ old.password }}" required>
				{% if flash.errors.password %}
					<span class="help-block">{{ flash.errors.password }}</span>
				{% endif %}
			</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###----------------------------------------------CONFIRM PASSOWRD FIELD----------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

			<div class="form-group{% if flash.errors.passwordConfirm  %} has-error {% endif %}">
				<label for ="passwordConfirm">Confirm your password</label>
				<input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" value="{{ old.passwordConfirm }}" required>
				{% if flash.errors.passwordConfirm %}
					<span class="help-block">{{ flash.errors.passwordConfirm }}</span>
				{% endif %}
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
			</div>

		</form>
	</div>
{% endblock %} 