{% extends "app.twig" %}

{% block content %}

	<div class="well">
		<h1>Hello {{user.login}}!</h1>
		<p>And welcome to matcha! Your account is finally complete and ready to get matched with other Zergs!
		Just take a look at the match list, or do your own research by filtering some aspects.
		Have fun!</p>
		<p><i>The matcha team.</i> (Ok I'm alone in the team, so I could have signed <i>Glioburd</i> but it's less way classy. It's my site so I do what the f♥♥k I want ok?)</p>
	</div>

	{% if user.mainpicture %}
		{% if data %}
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="page-header">You may be interested by:</h2>
					</div>
					{% for match in data %}
						<div class="col-lg-2 col-md-4 col-xs-6 thumbnail"style="background-color:powderblue;" >
							<fieldset>
								<a href="{{ path_for('user.profile', { 'userprofile': match.to_user }) }}">
									<div class="parent">

										{% if match.isOnline == 'true' %}
											{% set color, status = 'green', 'online' %}
										{% else %}
											{% set color, status = 'red', 'offline' %}
										{% endif %}

										<img src="{{match.to_user_pic}}" style="min-height:150px;height:150px;" class="img-circle image1">
										<img class="image2" src="../public/ressources/circle_{{color}}.png" title="{{status}}">
									</div>
								</a>

									{% if match.to_user_sexuality == 'bi' %}
										{% set sexuality = 'bisexual' %}
									{% elseif match.to_user_sexuality == 'homo' %}
										{% set sexuality = 'homosexual' %}
									{% elseif match.to_user_sexuality == 'hetero' %}
										{% set sexuality = 'heterosexual' %}
									{% endif %}

									<p><h3 align="center">{{match.to_user}}</h3 align="center"></p>

									<p style="text-align:left;">
										<strong>Age:</strong>
										<span style="float:right;">{{match.to_user_age}}</span>
									</p>

									<p style="text-align:left;">
										<strong>Distance:</strong>
										<span style="float:right;">{{match.distance_in_km}} km</span>
									<p>

									<p style="text-align:left;">	
										<strong>Gender:</strong>
										<span style="float:right;">{{match.gender|capitalize}}</span>
									<p>

									<p style="text-align:left;">
										<strong>Sexuality:</strong>
										<span style="float:right;">{{sexuality}}</span>
									</p>

									<p style="text-align:left;">
										<strong>Popularity:</strong>
										<span style="float:right;">{{match.popularity}}</span>
									</p>

									<p style="text-align:left;">
										<strong>Hobbies in common:</strong>
										<span style="float:right;">{{match.hobbiesInCommon}}</span>
									</p>
							</fieldset>
						</div>

					{% endfor %}

				</div>

				Sort by :

				<form method="get" role="form" name="">

					{% if ageMin %}
						<input type="hidden" name="ageMin" value="{{ageMin}}">
					{% endif %}
					{% if ageMax %}
						<input type="hidden" name="ageMax" value="{{ageMax}}">
					{% endif %}
					{% if distance %}
						<input type="hidden" name="distance" value="{{distance}}">
					{% endif %}
					{% if minPopularity %}
						<input type="hidden" name="minPopularity" value="{{minPopularity}}">
					{% endif %}
					{% if maxPopularity %}
						<input type="hidden" name="maxPopularity" value="{{maxPopularity}}">
					{% endif %}
					{% if minCommonHobbies %}
						<input type="hidden" name="minCommonHobbies" value="{{minCommonHobbies}}">
					{% endif %}
					
					<select name="sortBy" class="selectpicker" onchange="this.form.submit()">
						{% if not sortBy %}
							{% set sortBy = "distance" %}
						{% endif %}
						{# <option {% if sortBy == "" %} selected {% endif %} value="">Default</option> #}
						<option {% if sortBy == "age" %} selected {% endif %} value="age">Age</option>
						<option {% if sortBy == "distance" %} selected {% endif %} value="distance">Distance</option>
						<option {% if sortBy == "popularity" %} selected {% endif %} value="popularity">Popularity</option>
						<option {% if sortBy == "hobbiesInCommon" %} selected {% endif %} value="hobbiesInCommon">Hobbies</option>
					</select>
				</form>
			</div>
			<hr>
		
		{% else %}
			<div class="alert alert-info">
				You don't match with anyone with those settings ☹.
			</div>
		{% endif %}

		<form method="get" role="form" class="form-horizontal well" id="customsearchForm">

			{% if sortBy %}
				<input type="hidden" name="sortBy" value="{{sortBy}}">
			{% endif %}

			<h3>Not satisfied ? Do your custom research:</h3>
			<div class="control-group">
				{% if ageMin is empty %}
					{% set ageMin = 18 %}
				{% endif %}
				<label for="minAge" class="control-label">Minimum age:</label> (No, you won't find anyone officially under 18)
				<div class="controls">
					<input type="number" min="18" max="123" step="1" name="ageMin" value="{{ageMin}}" id="ageMin">
				</div>
			</div>

			<div class="control-group">
				<label for="maxAge" class="control-label">Maximum age:</label>
				<div class="controls">
						<input type="number" min="18" max="123" step="1" name="ageMax" value="{{ageMax}}">
				</div>
			</div>

			<div class="control-group">
				<label for="maxDistance" class="control-label">Maximum distance (in km):</label>
				<div class="controls">
					<input type="number" min="0" max="999" step="1" name="distance" value="{{distance}}">
				</div>
			</div>

			<div class="control-group">
				<label for="minPopularity" class="control-label">Minimum of popularity:</label>
				<div class="controls">
					<input type="number" min="0" max="100" step="1" name="minPopularity" value="{{minPopularity}}">
				</div>
			</div>

			<div class="control-group">
				<label for="minCommonHobbies" class="control-label">Minimum hobbies in common:</label>
				<div class="controls">
					<input type="number" min="0" max="14" step="1" name="minCommonHobbies" value="{{minCommonHobbies}}">
				</div>
			</div>
			<br>
			<button type="submit" class="btn btn-primary">Match!</button>
			<button type="reset" class="btn btn-primary" id="clearFields" value="reset">Clear all fields!</button>

		</form>
		
	{% endif %}
	
<script type="text/javascript">

$( "#clearFields" ).click(function() {
	$('input').attr('value', '');
});

</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>


{% endblock %}

