{% extends "app.twig" %}

{% block content %}
	<h1>Bienvenue {{user.login}}!</h1>

{% if data and user.mainpicture %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">You may be interested by:</h1>
			</div>
			{% for match in data %}

				<div class="col-lg-2 col-md-4 col-xs-6 thumbnail" >
					<fieldset>
						<legend style="min-height:100px;height:100px;">{{match.to_user}} : {{match.distance_in_km|number_format(2)}} km
							Popularity : {{match.popularity}}
						</legend>
						
						<a href="{{ path_for('user.profile', { 'userprofile': match.to_user }) }}">
							<img src="{{match.to_user_pic}}" style="min-height:100px;height:100px;">
						</a>
					</fieldset>
				</div>

			{% endfor %}
		</div>
	</div>

{% endif %}

{% endblock %} 
