<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------HOME BUTTON-------------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
		<div class="navbar-header">
			<a href=" {{ path_for('home') }}" class="navbar-brand">Matcha</a>
		</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------CONTACT BUTTON----------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

		<div class="nav navbar-nav">
			<li><a href="{{ path_for('contact') }}">Contact</a></li>
		</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------NAVBAR'S RIGHT SIDE: SIGNUP-LOGIN-MENU----------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}

		<div class="nav navbar-nav navbar-right">
			{% if not user %}
				<li><a href="{{ path_for('auth.signup') }}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
				<li><a href="{{path_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
			{% else %}

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" >{{ user.login|e }}
						<span class="caret"></span>	
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ path_for('user.profile', { 'userprofile': user.login }) }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
						<li><a href="{{ path_for('user.settings') }}"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
						<li><a href="{{ path_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
					</ul>
				</li>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------NAVBAR'S RIGHT SIDE: NOTIFS MENU----------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}	

				{% set nBunread = 0 %}
				{% for notif in notifs if notif.unread %}
					{% set nBunread = nBunread + 1 %}
				{% endfor %}

				<li class="dropdown dropdown-notifications" id="notifsMenu" value="{{nbUnread}}">
					<a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown" id="cloche">
						<i  id="clocheIcon" data-count="{{nBunread}}" class="glyphicon glyphicon-bell {% if nBunread > 0 %}notification-icon{% endif %}"></i>
					</a>
					<ul class="dropdown-menu">
						<div class="dropdown-container">
							<div class="dropdown-toolbar">
								<div class="dropdown-toolbar-actions">
									<a href="#">Mark all as read</a>
								</div>
								<h3 class="dropdown-toolbar-title">({{nBunread}}) unread.</h3>
							</div><!-- /dropdown-toolbar -->
							<hr>
							<ul class="notifications">
								{% for notif in notifs %}
									{% if notif.type == 'like' %}
										{% set notifMessage, notifMessageBis = 'has liked your profile!', 'How sweet!' %}
									{% elseif notif.type == 'likeback' %}
										{% set notifMessage, notifMessageBis = 'has liked back your profile!', 'You are now friends, you can chat!' %}
									{% elseif notif.type == 'visit' %}
										{% set notifMessage, notifMessageBis = 'has visited your profile!', 'That\'s creepy tbh' %}
									{% elseif notif.type == 'unlike' %}
										{% set notifMessage, notifMessageBis = 'has unliked your profile!', 'Awww :(' %}
									{% elseif notif.type == 'chat' %}
										{% set notifMessage, notifMessageBis = 'sent you a message',  'Go check it!' %}
									{% endif %}
									<li class="notification">
										<div class="media">
											<div class="media-left">
												<div class="media-object">
													<img src="{{notif.pictureSender}}" class="img-circle" alt="{{notif.loginSender}}" style="min-height:50px;height:50px;">
												</div>
											</div>
											<div class="media-body">
												<strong class="notification-title"><a href="{{ path_for('user.profile', { 'userprofile': notif.loginSender }) }}">{{notif.loginSender}}</a> {{notifMessage|e}}</strong>
												<p class="notification-desc">{{notifMessageBis}}</p>
												<div class="notification-meta">
													<small class="timestamp">{{notif.date_notif}}</small>
												</div>
											</div>
										</div>
									</li>
								{% endfor %}

							</ul>
							<div class="dropdown-footer text-center">
								<a href="#">View All</a>
							</div><!-- /dropdown-footer -->
						</div><!-- /dropdown-container -->
					</ul>
				</li><!-- /dropdown -->

			{% endif %}

		</div>

{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------PROFILE PICTURE PREVIEW-------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
		{% if user.mainpicture %}
			<a href="#" class="navbar-right"><img src="{{user.mainpicture}}" class="img-circle navavatar" alt="Avatar"></a>
		{% endif %}
	</div>
</nav>
{% if app.request.attributes.get('_route') == '/profile/' + user.login %}

{% endif %}
<script type="text/javascript">

$("document").ready(function(){
	$("#cloche").on("click", function() {
		$.post('{{ path_for("notifsread") }}', function() {
			$("#clocheIcon").removeClass('notification-icon');
			$("#notifsMenu").val(0);
		});
	});
});

function reload() {

	// How many new notifs ?
	function Ajax(handleData) {
		$.post('{{ path_for("countNotifsUnread") }}', function(data){
			handleData(data); 
		});
	}

	Ajax(function(output){
		if (output > 0) {
			$("#clocheIcon").addClass('notification-icon');
			$("#notifsMenu").val(output);
		}
		else {
			$("#clocheIcon").removeClass('notification-icon');
		}

		$(".notifications").load(location.href + " .notifications");
	});
}

setInterval(function(){reload()}, 5000);

// var stillAlive = setInterval(function () {
// 	$.post('{{ path_for("isAlive")}}', function(data){
// 		console.log(data);
// 	});
// }, 2000);

</script>